a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
body{
    font-family: $primary-font;
    line-height: 1;
    color: $title-color;
    font-size: 1.4em;
    line-height: 1;
    
}

input,button{
    font-family: $secondary-font;
    line-height: 1;
    outline: none;
}
button{
    cursor: pointer;
}