section.about 
	.container 
		+blockbox("What we do","Story About Us", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, doloremque quas. Possimus quis aperiam, accusantium voluptas quam nesciunt incidunt fuga minus facilis amet repudiandae distinctio libero illum eius id! Repellat.")
		.about-list
			+aboutItem({
				src: "../images/img-about1.png",
				title: "Super Team",
				iconClass: "fa fa-users",
				alt: "hung"
			})
			+aboutItem({
				src: "../images/img-about2.png",
				title: "Super Team",
				iconClass: "fa fa-users",
				alt: "hung"
			})
			+aboutItem({
				src: "../images/img-about3.png",
				title: "Super Team",
				iconClass: "fa fa-users",
				alt: "hung"
			})
			

		
