footer.footer 
	.container
		.footer-top
			.footer-column 
				a(href="#").footer-heading.footer-heading--logo Mogo 
				p.footer-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde beatae ab, animi voluptate rem vel tenetur esse provident temporibus neque dolorum, asperiores, iure aliquid perferendis voluptas ducimus fugit quisquam saepe.
				p.footer-follower <strong>15k</strong> followers 
				.footer-social
					span.text Follow Us:
					.footer-social-list
						a.footer-social-icon(href="") 
							i.fab.fa-facebook
						a.footer-social-icon(href="") 
							i.fab.fa-twitter
						a.footer-social-icon(href="") 
							i.fab.fa-instagram
						a.footer-social-icon(href="") 
							i.fab.fa-pinterest
						a.footer-social-icon(href="") 
							i.fab.fa-youtube
						a.footer-social-icon(href="") 
							i.fab.fa-dribbble
						a.footer-social-icon(href="") 
							i.fab.fa-tumblr
						a.footer-social-icon(href="") 
							i.fab.fa-google-plus-g
						
				form.footer-form
					input(type="email" placeholder="Your Email").footer-form-input
					button.footer-form-button Subscribe

			.footer-column
				h3.footer-heading Blogs 
				a(href="#").footer-blog 
					img.footer-blog-img(src="../images/img-blogs1.png", alt="")
					.footer-blog-info 
						h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. A, velit.
						span.footer-blog-date.text Jan 9,2016
				a(href="#").footer-blog 
					img.footer-blog-img(src="../images/img-blogs2.png", alt="")
					.footer-blog-info 
						h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. A, velit.
						span.footer-blog-date.text Jan 9,2016
				a(href="#").footer-blog 
					img.footer-blog-img(src="../images/img-blogs3.png", alt="")
					.footer-blog-info 
						h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. A, velit.
						span.footer-blog-date.text Jan 9,2016
			.footer-column
				h3.footer-heading Instagram 
				.footer-images
					.footer-image
						img(src="../images/img-instagram1.png", alt="")
					.footer-image
						img(src="../images/img-instagram1.png", alt="")
					.footer-image
						img(src="../images/img-instagram1.png", alt="")
					.footer-image
						img(src="../images/img-instagram1.png", alt="")
					.footer-image
						img(src="../images/img-instagram1.png", alt="")
					.footer-image
						img(src="../images/img-instagram1.png", alt="")
					.footer-image
						img(src="../images/img-instagram1.png", alt="")
					.footer-image
						img(src="../images/img-instagram1.png", alt="")
					
					.footer-image
						img(src="../images/img-instagram1.png", alt="")
					
				a(href="").footer-more.text Views more photos
		.footer-bottom © 2016 MoGo free PSD template by <span> Laaqiq </span>
	