section.people 
  .container 
    +blockbox("Happy clients","Whay people say")
    ul.people-list
      +peopleItem("../images/img-people1.png","Matthew dix","Graphic Design")
      +peopleItem("../images/img-people2.png","Matthew dix","Graphic Design","Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat nisi pariatur ipsam corporis repellendus itaque deserunt, ducimus aliquam quisquam quaerat animi dolorum. Illum sit odit similique commodi animi quia culpa.")
      
      +peopleItem("../images/img-people3.png","Matthew dix","Graphic Design","Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat nisi pariatur ipsam corporis repellendus itaque deserunt, ducimus aliquam quisquam quaerat animi dolorum. Illum sit odit similique commodi animi quia culpa.")
      
      +peopleItem("../images/img-people4.png","Matthew dix","Graphic Design","Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat nisi pariatur ipsam corporis repellendus itaque deserunt, ducimus aliquam quisquam quaerat animi dolorum. Illum sit odit similique commodi animi quia culpa.")
      