section.quote
	.container 
		.quote-container 
			//- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
			+quoteItem("../images/img-quote.png",false,"Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eaque tempore optio autem inventore, sunt culpa qui obcaecati labore quo. Nesciunt minus placeat aut distinctio iure, tempora modi ex. Aut?","Jon Doe" )
			+quoteItem("../images/img-quote.png",false,"Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eaque tempore optio autem inventore, sunt culpa qui obcaecati labore quo. Nesciunt minus placeat aut distinctio iure, tempora modi ex. Aut?","Jon Doe" )
			+quoteItem("../images/img-quote.png",false,"Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eaque tempore optio autem inventore, sunt culpa qui obcaecati labore quo. Nesciunt minus placeat aut distinctio iure, tempora modi ex. Aut?","Jon Doe" )
			+quoteItem("../images/img-quote.png",false,"Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eaque tempore optio autem inventore, sunt culpa qui obcaecati labore quo. Nesciunt minus placeat aut distinctio iure, tempora modi ex. Aut?","Jon Doe" )
		
		