section.service
  .container 
    +blockbox("We work with","Amazing Services")
    .service-container
      .service-list 
        +serviceItem("../images/img-service-icon1.png","Photography","Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, praesentium.")
        +serviceItem("../images/img-service-icon2.png","Web Design","Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, praesentium.")
        +serviceItem("../images/img-service-icon3.png","Creativity","Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, praesentium.")
      .service-list
        +serviceItem("../images/img-service-icon4.png","Photography Photography Photography","Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, praesentium.")
        +serviceItem("../images/img-service-icon5.png","Web Design","Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, praesentium.")
        +serviceItem("../images/img-service-icon6.png","Creativity","Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, praesentium.") 
        