section.team
	.container
		+blockbox("Who we are","Meet our team","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta veritatis ipsum inventore reprehenderit, iusto tempora tempore impedit quidem nemo esse blanditiis ducimus dolores harum quisquam, explicabo aspernatur vitae delectus? Veritatis.")
		.team-list 
			+teamItem("../images/img-team1.png","MATHEW DIX","Graphic Designer")
				+teamSocial("facebook")
			+teamItem("../images/img-team2.png","CHRISTOPHER CAMPBELL","Branding/UX Design")
				+teamSocial("facebook")
			+teamItem("../images/img-team3.png","MICHAEL FERTIC","MICHAEL FERTIC")
				+teamSocial("facebook")

section.brand 
	.container
		img(src="../images/img-logos.png", alt="")
			