section.work 
	.container
		+blockbox("What we do","SOME OF OUR WORK","Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio fugiat numquam saepe iusto, esse, minima ad sint placeat veniam illum ullam aliquid! Odio eaque recusandae id nisi facere quas.")
	.work-grid
		
		+workItem 
		+workItem("../images/img-work2.png")
		+workItem("../images/img-work3.png")
		+workItem("../images/img-work4.png")
		+workItem("../images/img-work5.png","fa fa-home","Photographer Super","Lorem ipsum dolor sit","work-item--full") 
		+workItem("../images/img-work6.png")
		+workItem("../images/img-work7.png")
	//- .work-list 
	//- 	.work-column 
	//- 		+workItem 
	//- 		+workItem("../images/img-work2.png")
	//- 	.work-column
	//- 		+workItem("../images/img-work3.png")
	//- 		+workItem("../images/img-work4.png")
	//- 	.work-column
	//- 			+workItem("../images/img-work5.png","fa fa-home","Photographer Super","Lorem ipsum dolor sit","work-item--full")
	//- 	.work-column 
	//- 		+workItem("../images/img-work6.png")
	//- 		+workItem("../images/img-work7.png")